:root {
    --nes-core-color-gray-950: #111214;
    --nes-core-color-gray-900: #1a1b1d;
    --nes-core-color-gray-800: #252528;
    --nes-core-color-gray-700: #333438;
    --nes-core-color-gray-600: #404144;
    --nes-core-color-gray-500: #75767c;
    --nes-core-color-gray-400: #93949a;
    --nes-core-color-gray-300: #c4c5cb;
    --nes-core-color-gray-200: #d6d7dc;
    --nes-core-color-gray-100: #e4e5e8;
    --nes-core-color-gray-75: #eaebee;
    --nes-core-color-gray-50: #f0f1f3;
    --nes-core-color-gray-25: #f7f7f9;
    --nes-core-color-pink-950: #381023;
    --nes-core-color-pink-900: #6b0f38;
    --nes-core-color-pink-800: #7f1642;
    --nes-core-color-pink-700: #b50e54;
    --nes-core-color-pink-600: #d62270;
    --nes-core-color-pink-500: #ea4294;
    --nes-core-color-pink-400: #f275b5;
    --nes-core-color-pink-300: #f7a1cf;
    --nes-core-color-pink-200: #fad0e8;
    --nes-core-color-pink-100: #fce7f3;
    --nes-core-color-pink-50: #fdf2f8;
    --nes-core-color-purple-950: #281f3b;
    --nes-core-color-purple-900: #46208f;
    --nes-core-color-purple-800: #51319b;
    --nes-core-color-purple-700: #6542b7;
    --nes-core-color-purple-600: #7b55cd;
    --nes-core-color-purple-500: #926ee4;
    --nes-core-color-purple-400: #a68cf3;
    --nes-core-color-purple-300: #c0b0f8;
    --nes-core-color-purple-200: #dcd6fb;
    --nes-core-color-purple-100: #ece9fc;
    --nes-core-color-purple-50: #f5f3fe;
    --nes-core-color-orange-950: #311e16;
    --nes-core-color-orange-900: #662a16;
    --nes-core-color-orange-800: #7f3319;
    --nes-core-color-orange-700: #ae3f0f;
    --nes-core-color-orange-600: #d44504;
    --nes-core-color-orange-500: #f2660f;
    --nes-core-color-orange-400: #fb8b35;
    --nes-core-color-orange-300: #ffb269;
    --nes-core-color-orange-200: #f8d8b3;
    --nes-core-color-orange-100: #fbedd9;
    --nes-core-color-orange-50: #fef6ee;
    --nes-core-color-red-950: #36181c;
    --nes-core-color-red-900: #691722;
    --nes-core-color-red-800: #7f1a22;
    --nes-core-color-red-700: #bd1133;
    --nes-core-color-red-600: #e2103d;
    --nes-core-color-red-500: #f8374b;
    --nes-core-color-red-400: #ff6b70;
    --nes-core-color-red-300: #ff9eaa;
    --nes-core-color-red-200: #fecdd3;
    --nes-core-color-red-100: #ffe4e6;
    --nes-core-color-red-50: #fff1f2;
    --nes-core-color-green-950: #142a27;
    --nes-core-color-green-900: #214440;
    --nes-core-color-green-800: #295854;
    --nes-core-color-green-700: #107263;
    --nes-core-color-green-600: #008672;
    --nes-core-color-green-500: #00a888;
    --nes-core-color-green-400: #35c899;
    --nes-core-color-green-300: #77e1b5;
    --nes-core-color-green-200: #afeccf;
    --nes-core-color-green-100: #d4f9e6;
    --nes-core-color-green-50: #eafaf4;
    --nes-core-color-teal-950: #15282d;
    --nes-core-color-teal-900: #1e3e48;
    --nes-core-color-teal-800: #1e4f5d;
    --nes-core-color-teal-700: #006781;
    --nes-core-color-teal-600: #00819e;
    --nes-core-color-teal-500: #00a3b8;
    --nes-core-color-teal-400: #29c5d6;
    --nes-core-color-teal-300: #6cdfec;
    --nes-core-color-teal-200: #a7ecf2;
    --nes-core-color-teal-100: #d4f8f9;
    --nes-core-color-teal-50: #eefbfd;
    --nes-core-color-blue-950: #18223f;
    --nes-core-color-blue-900: #193370;
    --nes-core-color-blue-800: #1e448d;
    --nes-core-color-blue-700: #1f55b2;
    --nes-core-color-blue-600: #186ddc;
    --nes-core-color-blue-500: #348af4;
    --nes-core-color-blue-400: #61a6fb;
    --nes-core-color-blue-300: #93c5fd;
    --nes-core-color-blue-200: #bfdbfe;
    --nes-core-color-blue-100: #deedff;
    --nes-core-color-blue-50: #eff6ff;
    --nes-core-color-yellow-950: #29250f;
    --nes-core-color-yellow-900: #483913;
    --nes-core-color-yellow-800: #644a07;
    --nes-core-color-yellow-700: #8a6000;
    --nes-core-color-yellow-600: #b67500;
    --nes-core-color-yellow-500: #d69500;
    --nes-core-color-yellow-400: #eeb408;
    --nes-core-color-yellow-300: #f4cd56;
    --nes-core-color-yellow-200: #f7e092;
    --nes-core-color-yellow-100: #faefc7;
    --nes-core-color-yellow-50: #fcf6e8;
    --nes-core-color-neutral-transparent: transparent;
    --nes-core-color-neutral-white: #fff;
    --nes-core-color-neutral-black: #000;
    --nes-core-color-brand-green: #00c690;
    --nes-core-color-brand-light-blue: #0063d3;
    --nes-core-color-brand-blue: #003082;
    --nes-core-color-brand-yellow: #ffc917;
}