@font-face {
    font-family: ns-bold;
    src: url('../public/fonts/nssans-bold.woff2');
}

@font-face {
    font-family: ns-bolditalic;
    src: url('../public/fonts/nssans-bolditalic.woff2');
}

@font-face {
    font-family: ns-demi;
    src: url('../public/fonts/nssans-demi.woff2');
}

@font-face {
    font-family: ns-italic;
    src: url('../public/fonts/nssans-italic.woff2');
}

@font-face {
    font-family: ns-regular;
    src: url('../public/fonts/nssans-regular.woff2');
}