@import url('inputs.css');
@import url('fonts.css');
@import url('colors.css');

* {
    box-sizing: border-box;
}

body {
    background: var(--nes-core-color-brand-blue);
    font-family: ns-regular, Segoe UI, Myriad, Verdana, sans-serif;
    margin: 0;
}

label,
legend {
    font-family: ns-demi, Segoe UI, Myriad, Verdana, sans-serif;
    color: var(--nes-core-color-brand-blue);
}

h1 {
    font-family: ns-regular, Segoe UI, Myriad, Verdana, sans-serif;
    color: var(--nes-core-color-brand-blue);
    background-color: var(--nes-core-color-brand-yellow);
    margin-top: 0;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    border-style: solid;
    border-color: var(--nes-core-color-brand-blue);
    border-width: 3px;
    border-top: none;
    top: 0;
    position: sticky;
    font-size: 3.5vw;
    z-index: 10;
}

form {
    background-color: white;
    margin: auto;
    padding-block: 1rem;
    border-radius: 1rem;


    @media (min-width: 600px) {
        width: 80%;
        border: 3px solid var(--nes-core-color-brand-blue);
        padding: 2rem;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 1rem;

    .radio-buttons-question {
        gap: .5em;
        align-self: center;
        align-items: start;
        margin-block: 0;
        width: 80%;
        border: none;
        border-bottom: 2px solid var(--nes-core-color-brand-yellow);
        border-radius: 0;
        transition: 1s ease;

        > legend {
            float: inline-start;
        }
    }

    > * {
        margin-block: .5em;
    }
}

.text-input-field {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em;
    width: 80%;
    padding-bottom: 2rem;
    border: none;
    border-bottom: 2px solid var(--nes-core-color-brand-yellow);

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    &:has(input:user-invalid) .alert-message {
        display: block;
    }
}

#deceased-info-legend {
    top: calc(3.5vw + 1.5rem + 1rem);
    position: sticky;
    z-index: 5;
    transition: .1s linear;
}

#deceased-info-legend.is-pinned {
    padding: .5rem;
    width: 100%;
    background: var(--nes-core-color-brand-blue);
    color: white;
    border: 3px solid var(--nes-core-color-brand-yellow);
    border-radius: 0 0 1rem 1rem;
}