@import url('inputs.css');
@import url('fonts.css');

:root {
    --c-primary: #ffc917;
    --c-secondary: #0063d3;

    --c-text: #003082
}

* {
    box-sizing: border-box;
}

body {
    font-family: ns-regular, Segoe UI, Myriad, Verdana, sans-serif;
    margin: 0;
}

label,
legend {
    font-family: ns-demi, Segoe UI, Myriad, Verdana, sans-serif;
    color: var(--c-text);
}

h1 {
    font-family: ns-bold, Segoe UI, Myriad, Verdana, sans-serif;
    color: var(--c-text);
    background-color: var(--c-primary);
    margin-top: 0;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}

.fullname {
    display: grid;
    grid-template-columns: 1fr 1fr;
}