input {
    font-family: inherit;
    height: 2rem;
    border-radius: .25rem;
    border: 2px solid var(--nes-core-color-brand-blue);

    &:user-invalid {
        border-color: var(--nes-core-color-red-500);
        outline: var(--nes-core-color-red-500);
    }  
}

input[type="file"] {
   
    margin-top: 1rem;
    line-height: 2rem;

    &::file-selector-button {
        height: 2rem;
        background-color: var(--nes-core-color-brand-blue);
        border: none;
        color: white;
        font-weight: 550;
        cursor: pointer;
    }
}

label:has(input[type="file"]) {
    width: 100%;
    display: flex;
    flex-direction: column;

    transition: .25s ease;
}

label:has(input[type="text"]),
label:has(input[type="date"]) {
    display: flex;
    flex-direction: column;

    > input {
        margin-block: 0;
    }

    * {
        min-width: 0;
    }
}

.radio-buttons {
    margin-block: 0;
    display: flex;
    gap: 1rem;
    
    > label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .25rem;

        > input {
            margin-top: 0;
        }
    }
}

.input-container {
    width: 100%;

    label {
        .error-message.active {
            font-size: small;
            border: 2px solid var(--nes-core-color-brand-blue);
            border-top: 1px solid var(--nes-core-color-red-500);
            border-radius: 0 0 .25rem .25rem;
            padding-block: .25rem;
            text-align: center;
            color: var(--nes-core-color-neutral-black);
        }

        &:has(.error-message.active) input {
            border-bottom: 1px solid var(--nes-core-color-red-500);
            border-radius: .25rem .25rem 0 0;
        }
    }
}

.note-message {
    margin-block: 0;
    margin-block-start: 1rem;
    background-color: var(--nes-core-color-gray-100);
    color: var(--nes-core-color-brand-blue);
    padding: .5rem;
    border-radius: .25rem;
    border: 2px solid var(--nes-core-color-brand-blue);
    text-align: center;
    font-weight: 600;
    display: none;

    @media (min-width: 1199px) {
        grid-column: span 6;
    }
}