input,
select {
    font-family: inherit;
    line-height: 1.5rem;
    padding-block: .25rem;
    padding-inline: .5rem;
    border-radius: .25rem;
    border: 1px solid var(--nes-core-color-gray-400);

    &:user-invalid {
        border-color: var(--nes-core-color-red-500);
        outline: var(--nes-core-color-red-500);
    }  

    &:disabled {
        background: var(--nes-core-color-gray-300);
    }
}

input[type="file"] {
    line-height: 2rem;

    &::file-selector-button {
        height: 1.5rem;
        background-color: var(--nes-core-color-brand-blue);
        border: none;
        color: white;
        font-weight: 550;
        cursor: pointer;
    }

    &:hover {
        &::file-selector-button {
            background-color: var(--nes-core-color-blue-800);
        }
    }
}

label:has(input[type="file"]) {
    width: 100%;
    display: flex;
    gap: .25rem;
    flex-direction: column;

    transition: .25s ease;
}

select,
label:has(input[type="text"]),
label:has(input[type="email"]),
label:has(input[type="date"]) {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    > input {
        margin-block: 0;
    }

    * {
        min-width: 0;
    }
}

.radio-buttons {
    margin-block: 0;
    display: flex;
    gap: 1rem;
    
    > label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .25rem;

        > input {
            margin-top: 0;
        }
    }
}

.input-container {
    width: 100%;

    label {
        .error-message {
            display: none;
            
            &::before {
                width: 1.25rem;
                height: 1.25rem;
                content: '';
                background-image: url(../public/icons/error-icon.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .error-message.active,
        &:has(input:user-invalid) .error-message {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: .25rem;
            font-size: small;
            text-align: center;

            color: var(--error-message-color);
        }

        &:has(.error-message.active) input,
        &:has(input:user-invalid) input {
            border: 1px solid var(--nes-core-color-red-500);
        }
    }
}

.radio-buttons {
    padding-block: .5rem;

    .error-message {
        display: none;
    }

    .error-message.active,
    &:has(input:user-invalid) .error-message {
         display: flex;
        align-items: center;
        justify-content: start;
        gap: .25rem;
        font-size: small;
        font-weight: 600;
        text-align: center;

        color: var(--error-message-color);

        &::before { 
            width: 1.25rem;
            height: 1.25rem;
            content: '';
            background-image: url(../public/icons/error-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    label:has(span.custom-radio) {
        display: block;
        padding-inline-start: 1.5rem;
        position: relative;
        cursor: pointer;
        color: var(--nes-core-color-gray-950);
        font-size: 0.875rem;
        font-weight: 550;
        
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .custom-radio {
                background-image: radial-gradient(
                    #FFF 30%, 
                    var(--radio-button-background-color) 0 100%
                );
            }

            &:focus ~ .custom-radio {
                outline: 2px solid #0062d1;
                outline-offset: 1px;
            }
        }

        .custom-radio {
            position: absolute;
            top: 0;
            left: 0;
            height: 1rem;
            width: 1rem;
            border-radius: 100%;
            border: 1px solid var(--nes-core-color-gray-950);
            background-color: #FFF;

            
        }
    }
}

.note-message {
    margin-block: 0;
    margin-block-start: 1rem;
    background-color: var(--nes-core-color-gray-100);
    color: var(--nes-core-color-brand-blue);
    padding: .5rem;
    border-radius: .25rem;
    border: 2px solid var(--nes-core-color-brand-blue);
    text-align: center;
    font-weight: 600;
    display: none;

    @media (min-width: 1199px) {
        grid-column: span 6;
    }
}