.radio-buttons-question.disabled,
.question-set.disabled,
.disabled {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
    transform: scaleY(0);
    transition: .5s ease;
}

.radio-buttons-question.extra-question {
    width: 100%;
    border: none;
    padding: 0;
}

#conditions-question {
    &:has(input:user-invalid) .alert-message {
        margin: 0;
        display: block;
    }
}